[submodule "lib"]
	path = lib
	url = https://robotniko@gitblit.jfritz.org/r/lib.git
[submodule "lib-dev"]
	path = lib-dev
	url = https://robotniko@gitblit.jfritz.org/r/lib-dev.git
[submodule "proxy"]
	path = proxy
	url = https://robotniko@gitblit.jfritz.org/r/proxy.git
[submodule "reverselookup"]
	path = reverselookup
	url = https://robotniko@gitblit.jfritz.org/r/reverseLookup.git
