<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{dd.MM.yy HH:mm:ss}|%t|%p|%C{1} - %m%n"/>
    </layout>
  </appender>

  <category name="de.moonflower.jfritz">
    <priority value="info"/>
  </category>

  <category name="de.moonflower.jfritz.autoupdate">
    <priority value="info"/>
  </category>

  <category name="de.moonflower.jfritz.callerlist">
    <priority value="info"/>
  </category>
  
  <category name="de.moonflower.jfritz.callmonitor">
    <priority value="info"/>
  </category>
  
  <category name="de.moonflower.jfritz.phonebook">
    <priority value="info"/>
  </category>
  
  <category name="de.moonflower.jfritz.proxy">
    <priority value="info"/>
  </category>

  <category name="de.moonflower.jfritz.utils.network">
    <priority value="info"/>
  </category>

  <category name="de.moonflower.jfritz.utils.reverselookup">
    <priority value="info"/>
  </category>

  <root>
    <priority value="info"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>
</log4j:configuration>

