<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>${app.version}</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleIconFile</key>
	<string>jfritz.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JFritz</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>10.2</string>
	<key>Java</key>
	<dict>
		<key>Arguments</key>
		<string></string>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/log4j.xml</string>
			<string>$JAVAROOT/lang</string>
			<string>$JAVAROOT/jfritz.jar</string>
		</array>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>de.moonflower.jfritz.Main</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
        <string>-Xmx512m</string>
	</dict>
</dict>
</plist>
